#main-wrapper{
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill,100%);
  max-width: 800px;
  justify-content:  center;
}

#menu {
	background: white;
	padding:10px;
	display: grid;
	grid-template-columns: repeat(auto-fill,80%) 20%;
	box-shadow: 0 2px 1px #c2ccd1;
	justify-items: center;
	flex-grow: 100%;
}

#logout-btn {
  justify-self: right;
  background: #00adef;
  color:white;
  padding: 10px;
  border: 1px solid #ac1100;
  border-radius: 2px;
  font-family: "Raleway",sans-serif;
  transition: all 0.15s linear;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
}

#logout-btn:hover {
  background: rgb(237,0,140);
  cursor: pointer;
}

#wrapper {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill);
}

#login{
	padding-top: 20px;
}


#qunit-header {
	margin-top: 200px;
}



#pictures {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows:repeat(auto-fill);
  grid-gap: 20px;
  margin-top:20px;
}



#add-item {
  display: grid;
  grid-gap:10px;
  background: white;
  grid-template-rows: 10% 5% 45% 30% 10%;
  padding:5px;
  box-shadow: 1px 1px 1px 1px #c2ccd1;
  /* justify-content:  center; */
}

input.picture-title {
    height: 32px;
    color:  rgb(237,0,140);
    border: 0.5px solid;
    padding-left:  2px;
    outline: none;								
    -moz-box-shadow: none;
    box-shadow: none;
    padding-left: 5px;
}


.upload-picture {
  background: red;
  width: 150px;
  box-shadow: 1px 1px 1px 1px #c2ccd1;
  background: #00adef;
  color:white;
  padding:2px;
  border: 1px solid #ac1100;
  border-radius: 2px;
  font-family: "Raleway",sans-serif;
  transition: all 0.15s linear;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
  justify-self:  center;
  text-align:center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.timestamp {
  text-align:  center;
}

.save-picture-btn {
  box-shadow: 1px 1px 1px 1px #c2ccd1;
  background: #00adef;
  color:white;
  padding:10px;
  border: 1px solid #ac1100;
  border-radius: 2px;
  font-family: "Raleway",sans-serif;
  transition: all 0.15s linear;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
  justify-self:  center;
  text-align:center;	
}

#preview-image{
  width:200px;
  justify-self:  center;
}

.save-picture-btn:hover { 
  background: rgb(237,0,140);
  cursor: pointer;
}


.upload-picture:hover {
  background: rgb(237,0,140);
  cursor:pointer;	
}

textarea {
  margin: 5px;
  resize: vertical;
  border: 1px solid #d3d3d3;
  overflow: auto;
  outline: none;
  /* width: 90%; */
  -moz-box-shadow: none;
  box-shadow: none;
  /* border-radius: 3px; */
  min-height: 60px;
}
